@import "../../css-config/mixins.scss";

.single-product-main-content {
  margin: 20px 0;
  color: white;
  @include md {
    margin: 75px 0;
  }
  .layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    @include md {
      max-width: 1200px;
    }
    .single-product-page {
      display: flex;
      flex-direction: column;
      @include md {
        flex-direction: row;
      }
      .left {
        width: 100%;
        background-color: #323232;
        flex-shrink: 0;
        border-radius: 50px;
        @include md {
          width: 600px;
          height: 600px;
        }
        img {
          width: 100%;
          padding: 50px 50px;
          display: block;
          transition: all ease 0.8s;
        }
        img:hover {
          scale: 1.1;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        @include md {
          padding: 0 35px;
        }
        .name {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 20px;
          @include md {
            font-size: 24px;
            line-height: 32px;
          }
        }
        .price {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 20px;
        }
        .desc {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 20px;
          color: rgba(255, 255, 255, 0.763);
          @include md {
            font-size: 16px;
            line-height: 24px;
          }
        }

        .cart-buttons {
          display: flex;
          @include md {
            margin-top: 30px;
          }

          .quantity-buttons {
            width: fit-content;
            display: flex;

            margin-right: 10px;
            height: 50px;

            span {
              font-size: 14px;
              width: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              color: white;
              &:nth-child(1) {
                border: 2px solid #7d7d7d;
                border-radius: 10px;
              }
              &:nth-child(2) {
                width: 40px;
                font-size: 20px;
              }
              &:nth-child(3) {
                border: 2px solid #7d7d7d;
                border-radius: 10px;
              }
            }
          }
          .add-to-cart-button {
            outline: 0;
            border: 0;
            height: 50px;
            width: 180px;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: white;
            background: #8e2de2;
            border-radius: 20px;
            flex-grow: 0.4;
            transition: all ease 0.6s;
            @include md {
              flex-grow: unset;
            }
            &:hover{
              background: #631f9e;
            }
          }
        }

        .divider {
          margin: 20px 0;
          height: 1px;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.4);
        }

        .info-item {
          .text-bold {
            font-size: 18px;
            font-weight: 500;
            display: block;

            &:nth-child(1) {
              margin-bottom: 20px;
            }
            span {
              font-size: 16px;
              font-weight: 400;
              margin-left: 10px;
              cursor: pointer;
              color: rgba(255, 255, 255, 0.6);
            }
            svg {
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
}
