@import "../../../css-config/mixins.scss";

.shop-by-category {
  margin: 25px 0;

  @include md {
    margin: 50px 0;
  }

  .categories {
    display: flex;
    flex-flow: wrap;
    gap: 20px;

    .category {
      background-color: black;
      width: calc(50% - 10px);
      cursor: pointer;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @include md {
        width: calc(25% - 15px);
      }
      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-image: linear-gradient(to right, #8e2de2, #4a00e0);
        color: white;
        z-index: 2;
        width: 100%;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.8s ease;
        
      }

      img {
        width: 100%;
        display: block;
        transition: all ease 0.6s;
        padding: 30px 30px;
        position: relative;
        z-index: 1;

        @include md {
          padding: 35px 35px;
        }
      }

      &:hover {
        img {
          transform: scale(1.2);
          background-color: #282828;
        }
        h1 {
          opacity: 100%;
        }
      }
    }
  }
}
