@import "../../css-config/mixins.scss";

.main-header {
  width: 100%;
  padding: 0 20px;
  background-color: #212121;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
  @include md {
    padding: 0 40px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    @include md {
      height: 70px;
    }

    .center {
      list-style-type: none;
      display: none;
      gap: 25px;
      @include md {
        display: flex;
      }

      li {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    .left {
      font-size: 22px;
      font-weight: 700;
      cursor: pointer;
      @include md {
        font-size: 30px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      @include md {
        gap: 30px;
      }

      svg {
        font-size: 20px;
        cursor: pointer;
      }
      .cart-icon {
        position: relative;
        span {
          min-width: 20px;
          text-align: center;
          background-color: rgb(255, 0, 0);
          padding: 2.5px;
          position: absolute;
          top: -5px;
          right: -12px;
          font-size: 12px;
          line-height: 1;
          border-radius: 200px;
        }
      }
    }
  }

  &.sticky-header {
    position: sticky;
    top: 0;
    animation: stickyHeader 0.6s ease forwards;
    transform: translateY(-40px);
  }
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
